[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-mail = "*"
sqlalchemy = "*"
psycopg2 = "*"
uvicorn = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"
sqlmodel = "*"
sqlalchemy-utils = "*"
alembic = "*"
pytest = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
